@import '../scss/mixin';

$colorMenu: rgb(0, 0, 0);
$colorTitulo:  rgb(104, 64, 5);
$fuentePrincipal: 'Poppins', sans-serif;
$textoCentrado: center;
$tamanoIcono: 30px;
$tamanoTituloSecciones: 35px;

*{padding: 0; margin: 0; box-sizing: border-box;}


html {
    width: auto;
}
body {
    background-color:rgb(250, 246, 238);
}
.contenedor {
    width: 90%;
    max-width: 1200px;
    margin: auto;
}
header {
        nav {
            a.homeMenu {
                font-family: $fuentePrincipal; 
                font-size: 25px; 
                margin-left: 15px;
            }
                div.menu {
                    a { 
                        font-family: $fuentePrincipal; 
                        font-size: 25px;    
                    }
            }
        }           
        h1 {
            font-size: $tamanoTituloSecciones;
            font-family: $fuentePrincipal; 
            margin-top: 70px;
            color: $colorTitulo;
            margin-left: 90px;
            text-transform: uppercase;
                           
        }       
        
        h1.animacion {
            animation-name: mianimacion;
            animation-duration: 1s;

        }
        @keyframes mianimacion {
            0% { color: rgba(230, 193, 137, 0.769)}
            25% {color: rgba(205, 130, 17, 0.803)}
            50% { color: rgba(142, 94, 21, 0.837)}
            100% {color: rgb(104, 64, 5)}
        }
}

/*Esta es la seccion Especialidades*/
div.card {
    box-shadow: 0 4px 20px 0 rgba(114, 111, 111, 0.5);
    margin: 40px;
    margin-top: 90px;

    div.card-body {
        font-family: $fuentePrincipal;
        font-size: 20px;
        h5 {
            padding: 10px;
            background-color:rgba(230, 179, 102, 0.282);
        }
        p{
            background-color:rgba(230, 193, 137, 0.255);
            padding: 10px;
            font-size: 17px;
        }
    }
}
    

// Hasta aca


/*Esta es la seccion Ambar*/

div.parallaxAmbar {
    background-image: url(../img/ambarcafe.jpg);
    height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 80px;
}
section {  
    div.historia {
        p{
            @include tipografiaJustificada;
            font-size: 25px; 
            margin-top: 90px;
            margin-left: 120px;
            margin-right: 120px;
            margin-bottom: 100px;
            line-height: 2; 
        }
    }
}    
div.parallaxAmbar2 {
    background-image: url(../img/ambargranos.jpg);
    height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
}



// Hasta aca


// Esto es el index

section {
    div.imagenPortada {
    background-image: url(../img/barilustrado.jpg);
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    object-fit: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
        div {
            h1.textoBorde {
            font-size: 200px;
            color:rgb(255, 255, 255);
            -webkit-text-stroke: 2px black;
            }
        }
    }
} 
   
section.row {
    div{
        p.pdeIndex { @include tipografiaJustificada;
        font-size: 30px;
        margin-top: 100px;
        text-align: justify;
        }
        .iconoCafe {
        font-size: 40px;
        margin-left: 300px;
        margin-top: 10px;
        }
    }
    div {
        img.imagenCafe {
        margin-top: 100px;
        width: 500px;
        object-fit: cover;
        overflow: hidden;
        } 
    }
}

section.enlaceEspecialidades {
display: flex-wrap;
margin-bottom: 80px;
    p {
    font-family: $fuentePrincipal;
    font-size: 30px;
    margin-top: 80px;
    }
    a { 
    font-family: $fuentePrincipal;
    color: rgb(205, 129, 17);
    font-size: 30px;
    margin-top: 80px;
    }
}

div.parallaxIndex2 {
background-image: url(../img/card3.jpg);
height: 600px;
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}         

// Hasta aca


/* Esto es la Galeria*/

div.parallaxGaleria1 {
    background-image: url(../img/galeria14.jpg);
    margin-top: 100px;
    height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 100px;
}  
#contenedor{
    width: 100%;
    display: grid;
    justify-content: center;             
    #proyectos{
            display: grid;
            width: fit-content;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows:  1fr 1fr 1fr; 
            justify-content: center; 
            column-gap: 60px;
            row-gap: 60px;
            img{
                width: 400px;
                transition: all 1s;
                    }                 
            img:hover{
                transform: scale(1.3);
            }
    } 
} 
div.parallaxGaleria {
        background-image: url(../img/cafeofi.jpg);
        margin-top: 100px;
        height: 400px;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
}     



/* Esto es la seccion Contactanos */

.parallaxContactanos1{
    background-image: url(../img/contactanos1.jpg);
    height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 80px;
    }   
    main{    
        section {
            form {
                display: flex;
                flex-direction: column;
                align-items: center;
                    label {
                        font-family: $fuentePrincipal;   
                        margin-top: 50px;
                        font-size: 30px;
                        margin-bottom: 20px;
                    }
                    textarea {
                    min-height: 200px;
                    max-height: 300px;
                    font-family: $fuentePrincipal;   
                    font-size: 20px;
                    padding: 10px;  
                    margin-top: 20px;
                    box-shadow: 2px 2px 5px rgb(205, 129, 17);
                    width: 50%;
                    display: block;
                    }
                    .datos {
                    height: 50px;   
                    font-family: $fuentePrincipal;   
                    padding-left: 10px;    
                    font-size: 20px;
                    margin-top: 20px;
                    box-shadow: 2px 2px 5px rgb(205, 129, 17);
                    width: 50%;
                    display: block;
                    }
                    input::placeholder {
                    color: rgb(205, 129, 17);
                    font-size: 20px;
                    font-family: $fuentePrincipal;                
                    }
                    input.enviar {
                    width: 200px;
                    font-family: $fuentePrincipal;   
                    font-size: 20px;
                    margin-top: 20px;
                    background-color: rgb(255, 255, 255);
                    color: rgb(205, 129, 17);
                    box-shadow: 2px 2px 5px rgb(205, 129, 17);
                    }
            }
        }
        .hojacontactos{margin-bottom: 50px;}
    }

//Hasta acá


@media screen and (max-width: 768px) {
    section{
        form{
            textarea {
                width: 200px;
            }
            input.datos {
                width: 200px;
            }
        }
    }
}

/*Esto es el footer*/

section.row {
    margin: 0;
    p {
        font-family: $fuentePrincipal;
    }
   
}
footer {
    background-color: rgb(242, 218, 177);
    padding-top: 50px;
    height: 200px;
}

.centrar {
    text-align: $textoCentrado;
}
//iconos footer

.icono {
    font-size: $tamanoIcono;
}
.mail {
    color: rgb(249, 50, 50);
}
.instagram{
    color: rgb(203, 47, 107);
}
.facebook {
    color: rgb(8, 8, 194)
}
.whatsapp {
    color: rgb(54, 210, 54);
}



.hojaSeparadora {
    font-size: 30px;
    color:  rgb(205, 129, 17);
    margin-top: 100px;
    display: flex;
    justify-content: center;
}


    
.parallax {
    background-image: url(../img/cafeofi.jpg);
    height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


// Media Queries

//Menú
@media screen and (max-width: 768px) {
    header{
        ul.menuFlex{
            display: block;
           
        }
        h1 {
            
            margin-left: 45px;
                          
        }  
    }
}



//index

@media screen and (max-width: 768px){

section {
    div.imagenPortada {
    height: 400px;
        div {
            h1.textoBorde {
            font-size: 100px;
            }
        }
    }

}
section.row {
    div{
        p.pdeIndex {
            font-size: 20px;
        }
        .iconoCafe {
        margin-left: 150px;
        }
    }
}
}
div.parallaxIndex2 {
    height: 300px;
}

 // Galería

 @media screen and (max-width: 768px){

 div.parallaxGaleria1 {
    height: 300px;
}  
#contenedor{            
    #proyectos{
            grid-template-columns: 1fr;
            grid-template-rows:  1fr;
    } 
} 
div.parallaxGaleria {  
    height: 300px;
}     

}

/*Esta es la seccion Ambar*/

@media screen and (max-width: 768px){

    div.parallaxAmbar {
        height: 300px;
        }

    section {  
        div.historia {
            p{
                font-size: 15px; 
                margin-left: 40px;
                margin-right: 45px;
            }
        }
    }
    div.parallaxAmbar2 {
        height: 300px;
    }
}

//Footer


@media screen and (max-width: 768px) {
    footer{
        padding-top: 80px;
        height: 500px;
    }
}