<!DOCTYPE html>
<html lang="es">

<head>
     <meta charset="UTF-8">
    <title>GrupIVis</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keywords" content="cafe, bar, ambar">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" 
        rel="stylesheet">   
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../scss/estilado.css"> 
</head>

<body> 
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand homeMenu" href="../index.html">Inicio</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
              <div class="navbar-nav ml-auto menu">
                <a class="nav-link" href="ambar.html">Publicaciones</a>
                <a class="nav-link" href="galeria.html">Proyectos</a>
                <a class="nav-link" href="especialidades.html">Integrantes</a>
                <a class="nav-link" href="contactanos.html">Contactanos</a>
              </div>
            </div>
        </nav>
        <h1 class= "animacion" data-aos="zoom-in" data-aos-duration="1000">Publicaciones</h1>
    </header>
    <!-- <div class="parallaxAmbar"></div>  -->
    <main class="contenedor">
        <section>
             <div class="hojaSeparadora">
                <ion-icon name="aperture-outline"></ion-icon>
            </div>
            <div class="historia">
                <h2 class="lista">2018</h2>
                <ul>
                    <li data-aos="zoom-in" data-aos-duration="1000"><i><strong>"A MATLAB SMO Implementation to Train a SVM Classifier: Application
                        to Multi-Style License Plate Numbers Recognition"</strong></i> Pablo Negri, 
                        Image Processing On Vol 8, 51-70, May 2018</li> 
                
                    <li data-aos="zoom-in" data-aos-duration="1000"><i><strong>"Toward automated estimation of vegetation cover in different strata 
                        using Unmanned Aerial Vehicles (UAVs)"</strong></i>.Conference on Adaptive Management 
                        for Forested Landscapes in transformation. International Union of Forest 
                        Research Organizations (IUFRO). Torrella, S; Gómez-Fernández, F; Acevedo, 
                        D; Ginzburg R; Arriaga-Velazco, P; De Cristóforis, P. Nov 2018</li> 
                    <li data-aos="zoom-in" data-aos-duration="1000"><i><strong>“Video to Text Study using an Encoder-Decoder Network Approach"</strong></i>. Jornadas Chilenas de Computación. Workshop: AEI. Ismael Orozco, M. Elena Buemi, Julio C: Jacobo Berlles, Nov 2018</li> 
                    <li data-aos="zoom-in" data-aos-duration="1000"><i><strong>"Development of a graphic interface for the three-dimensional semiautomatic glioblastoma segmentation based on magnetic resonance images"</strong></i> Congreso Argentino de Ciencias de la Informática y Desarrollos de Investigación 2018. UNSAM-CAECE Aceptado. Alexander Mulet de los Reyes,
                         Marı́a Elena Buemi, Maikel Noriega Alemán, Cecilia Suárez. Nov 2018</li> 
                    <li data-aos="zoom-in" data-aos-duration="1000"><i><strong>"Classification of melanoma images with Fisher vectors and deep learning"</strong></i> Progress in Pattern Recognition, Image Analysis, Computer Vision, and Applications. CIARP 2018. Lecture Notes in Computer Science, Springer-Verlag, LNCS.ISSN/ISBN: 978-3-319-75192-4 Liberman, G., Acevedo, D. and Mejail, M. Nov 2018/p> 
                    <li data-aos="zoom-in" data-aos-duration="1000"><i><strong>Scene Context Classification with Event-Driven Spiking Deep Neural Networks"</strong></i> 25th IEEE International Conference on Electronics Pablo Negri, Miguel Soto, Bernabe Linares-Barranco, Teresa Serrano-Gotarredona, Bordeaux, France, 9-12, December 2018</li> 
                </ul>
            </div>
            <div class="historia">
                <h2 class="lista">2017</h2>
                <ul>
                    <li data-aos="zoom-in" data-aos-duration="1000"><i><strong>“Real-Time Gender Recognition From Face Images Using Deep Convolutional NeuralNetwork”</strong></i> Ismael Orozco, Florencia Iglesias, María E. Buemi, Julio Jacobo Berlles,Artículo presentado en LACMEN, Valparaíso, Chile. Nov 2017</li>
                
                    <li data-aos="zoom-in" data-aos-duration="1000"><i><strong>“A Citation k-NN approach for facial expression recognition”</strong></i> Daniel Acevedo, Pablo Negri, María Elena Buemi, Francisco Gómez Fernández, Marta Mejail, Artículo aceptado para ser presentado en International Conference Pattern Recognition 2017, Valparaíso Chile. Nov 2017</li>
                    
                    <li data-aos="zoom-in" data-aos-duration="1000"><i><strong>“New Deep Convolutional Neural Network Architecture for Pedestrian Detection”</strong></i> Ismael Orozco, María E. Buemi, Julio Jacobo Berlles, International Conference Pattern Recognition Systems. 11-13 Julio de 2017. Madrid</li>
                
                    <li data-aos="zoom-in" data-aos-duration="1000"><i><strong>A simple geometric-based descriptor for facial expression recognition"</strong></i>, Daniel Acevedo, Pablo Negri, María Elena Buemi, Francisco Gómez Fernández, Marta Mejail, 802-808, IEEE, Mayo 2017</li>
                
                    <li data-aos="zoom-in" data-aos-duration="1000"><i><strong>"A Citation k-NN Approach for Facial Expression Recognition"</strong></i> Daniel Acevedo, P Negri, ME Buemi, Fracisco Gómez Fernández, Marta Mejail, Iberoamerican Congress on Pattern Recognition, 1-9, Springer, Cham, Noviembre 2017</li>
                
                    <li data-aos="zoom-in" data-aos-duration="1000"><i><strong>"Feature Fusion for Fingerprint Liveness Detection: a Comparative Study"</strong></i> Amirhosein Toosi, Andrea Bottino, Sandro Cumani, Pablo Negri, Pietro Luca Sottile, 23695-23709, Vol 5 IEEE Access, IEEE</li>
                
                    <li data-aos="zoom-in" data-aos-duration="1000"><i><strong>"Bioinspired self organizing neural networks for expression recognition"</strong></i> , Barijhoff, Hernán and Matuk Herrera, Women in Machine Learning Workshop, NIPS, Long Beach, USA, 2017</li>
                    
                    <li data-aos="zoom-in" data-aos-duration="1000"><i><strong>"S-PTAM: Stereo Parallel Tracking and Mapping"</strong></i> Taihú Pire, Thomas Fischer, Gastón Castro, Julio Jacobo Berlles, ROBOTICS AND AUTONOMOUS SYSTEMS, P 27 - 42, ELSEVIER SCIENCE BV, 2017</li>
                </ul>
            </div>
            <div class="historia">
                <h2 class="lista">2016</h2>
                <ul>
                    <li data-aos="zoom-in" data-aos-duration="1000"><i><strong>"Performance of dynamic texture segmentation using GPU"</strong></i> Francisco Gómez Fernandez, María Elena Buemi, Juan Manuel Rodriguez, Julio Cesar Jacobo Berlles, Journal of Real Time Image Processing P. 375-383, Springer, 2016</li>
                    
                    <li data-aos="zoom-in" data-aos-duration="1000"><i><strong>"A new image quality index for objectively evaluating despeckling filtering in SAR images"</strong></i>, Luis Gomez, María Elena Buemi, Julio Jacobo Berlles. Marta Mejail, ISSN: 1939-1404 - IEEE JOURNAL OF SELECTED TOPICS IN APPLIED EARTH OBSERVATIONS AND REMOTE SENSING, IEEE, P 1297-1307, 2016</li>
                
                    <li data-aos="zoom-in" data-aos-duration="1000"><i><strong>"Real-time monocular image-based path detection - A GPU-based embedded solution for on-board execution on mobile robots"</strong></i> Pablo De Cristóforis, Matias Nitsche, Tomas Krajnik, Marta Mejail, Real-time monocular image-based path detection - A GPU-based embedded solution for on-board execution on mobile robots. Pag. 335-348, Springer, 2016</li>
                
                    <li data-aos="zoom-in" data-aos-duration="1000"><i><strong>"JOURNAL OF REAL TIME IMAGE PROCESSING Special issue on Real-Time Image and Video Processing for Pattern Recognition Systems and Applications"</strong></i> Juan Wachs, Marta Mejail, Barak Fishbain, Luis Álvarez, jOURNAL REAL TIME IMAGE PROCESSING, Springer, 2016</li> 
                
                    <li data-aos="zoom-in" data-aos-duration="1000"><i><strong>"Facial expression recognition based on static and dynamic approaches"</strong></i> Daniel Acevedo, Pablo Negri, María Elena Buemi, Marta Mejail, International Conference on Pattern Recognition (ICPR), IEEE Conference Pulbications, IEEE, 2016</li>
                </ul>
            </div>

            <div class="hojaSeparadora hola">
                <ion-icon name="aperture-outline"></ion-icon>
            </div>   
        </section>
    </main>
    <div class="parallaxAmbar2"></div>
    <footer>
        <section class="row centrar">
            <div class="col-sm-3 col-md-2 col-lg-3" data-aos="zoom-in" data-aos-duration="1000">
                <ion-icon class="icono mail" name="mail-outline"></ion-icon> 
                <p>hello@ambar.com.ar</p>         
            </div>
            <div class="col-sm-3 col-md-2 col-lg-3" data-aos="zoom-in" data-aos-duration="1000">
                <ion-icon class="icono instagram" name="logo-instagram"></ion-icon>
                <p>@somosambar</p>            
            </div>
            <div class="col-sm-3 col-md-2 col-lg-3" data-aos="zoom-in" data-aos-duration="1000">
                <ion-icon class="icono facebook" name="logo-facebook"></ion-icon>
                <p>/somosambar</p>
            </div>
            <div class="col-sm-3 col-md-2 col-lg-3" data-aos="zoom-in" data-aos-duration="1000">
                <ion-icon class="icono whatsapp" name="logo-whatsapp"></ion-icon> 
                <p>11-8493-4520</p>           
            </div>
        </section>
        <section>  
            <div class="centrar">
                <p>Olleros 2453 - CP 1425 - Todos los derechos reservados - 2020</p>
            </div>
        </section>
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/ionicons@5.1.2/dist/ionicons.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>AOS.init();</script>
</body>
</html>