<!DOCTYPE html>
<html lang="es">

<head>
     <meta charset="UTF-8">
    <title>AMBAR</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keywords" content="cafe, bar, ambar">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" 
        rel="stylesheet">   
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="../scss/estilado.css"> 
</head>

<body> 
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand homeMenu" href="../index.html">Home</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
              <div class="navbar-nav ml-auto menu">
                <a class="nav-link" href="ambar.html">Ambar</a>
                <a class="nav-link" href="galeria.html">Galería</a>
                <a class="nav-link" href="especialidades.html">Especialidades</a>
                <a class="nav-link" href="contactanos.html">Contactanos</a>
              </div>
            </div>
        </nav>
        <h1 class= "animacion" data-aos="zoom-in" data-aos-duration="1000">Nuestra historia</h1>
    </header>
    <div class="parallaxAmbar"></div> 
    <main class="contenedor">
        <section>
             <div class="hojaSeparadora">
                <ion-icon name="leaf-outline"></ion-icon>
            </div>
            <div class="historia">
                <p> Es, según algunos historiadores, el primer café abierto en Buenos Aires.
                    Fue fundado por un italiano llamado MANUEL DELFINO y estaba situado en la 
                    esquina nordeste de la intersección de las calles Santísima Trinidad y Merced 
                    (hoy San Martín y general Perón, ex Cangallo), haciendo cruz con la casa del 
                    general San Martín (que ocupaba su hija Mercedes y su marido Escalada), 
                    donde estuvo la librería Peuser hasta hace pocos años.  
                    En 1856, cuando Delfino falleció,  el local  pasó a ser propiedad de 
                    FRANCISCO MIGONI, quien modernizó sus instalaciones y le dio un gran impulso. 
                    Imponiendo una particular forma de servir el clásico café con leche a sus 
                    parroquianos, la mayoría de ellos trabajadores y gente de la clase media. 
                    El reconfortante y generoso café con leche de los Catalanes, se servía en 
                    una gran tazón, lleno hasta el borde e iba acompañado por recién hechas tostadas 
                    con manteca y azúcar, costumbre que quizás sea la que impuso esa forma de comer 
                    el pan con manteca de nuestros niños, que hoy subsiste.</p>  
            </div>
        </section>
    </main>
    <div class="parallaxAmbar2"></div>
    <footer>
        <section class="row centrar">
            <div class="col-sm-3 col-md-2 col-lg-3" data-aos="zoom-in" data-aos-duration="1000">
                <ion-icon class="icono mail" name="mail-outline"></ion-icon> 
                <p>hello@ambar.com.ar</p>         
            </div>
            <div class="col-sm-3 col-md-2 col-lg-3" data-aos="zoom-in" data-aos-duration="1000">
                <ion-icon class="icono instagram" name="logo-instagram"></ion-icon>
                <p>@somosambar</p>            
            </div>
            <div class="col-sm-3 col-md-2 col-lg-3" data-aos="zoom-in" data-aos-duration="1000">
                <ion-icon class="icono facebook" name="logo-facebook"></ion-icon>
                <p>/somosambar</p>
            </div>
            <div class="col-sm-3 col-md-2 col-lg-3" data-aos="zoom-in" data-aos-duration="1000">
                <ion-icon class="icono whatsapp" name="logo-whatsapp"></ion-icon> 
                <p>11-8493-4520</p>           
            </div>
        </section>
        <section>  
            <div class="centrar">
                <p>Olleros 2453 - CP 1425 - Todos los derechos reservados - 2020</p>
            </div>
        </section>
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/ionicons@5.1.2/dist/ionicons.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>AOS.init();</script>
</body>
</html>