<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <title>GrupIVis</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="keywords" content="cafe, bar, ambar">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" 
      rel="stylesheet">   
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <link rel="stylesheet" href="../scss/estilado.css"> 
</head>

<body> 
    <header>
        <div>
          <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand homeMenu" href="../index.html">Inicio</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
              <div class="navbar-nav ml-auto menu">
                <a class="nav-link" href="ambar.html">Publicaciones</a>
                <a class="nav-link" href="galeria.html">Proyectos</a>
                <a class="nav-link" href="especialidades.html">Integrantes</a>
                <a class="nav-link" href="contactanos.html">Contacto</a>
              </div>
            </div>
        </nav>
        </div>
        <h1 class="animacion" data-aos="zoom-in" data-aos-duration="1000">Integrantes</h1>
    </header>
    <main class="container">
         <section> 
            <div class="row row-cols-1 row-cols-md-2">
                <div class="col mb-4" data-aos="zoom-in" data-aos-duration="1000">
                  <div class="card">
                    <img src="../img/marta.jpg" class="card-img-top" alt="macarrones">
                    <div class="card-body">
                      <h5 class="card-title">Prof. Marta E. Mejail PhD</h5>
                      <p class="card-text">marta.mejail A gmail.com <a href="mailto:marta.mejail A gmail.com"><ion-icon class="icono mail" name="mail-outline"></ion-icon></a></p>
                    </div>  
                  </div>
                </div>
          
                  
                <div class="col mb-4" data-aos="zoom-in" data-aos-duration="1000">
                  <div class="card">
                    <img src="../img/julio.jpg" class="card-img-top" alt="cafe2">
                    <div class="card-body">
                      <h5 class="card-title">Prof. Julio Jacobo Berllés PhD</h5>
                      <p class="card-text">julio.jacobo A gmail.com   <a href="mailto:julio.jacobo A gmail.com"><ion-icon class="icono mail" name="mail-outline"></ion-icon></a></p>
                    </div>
                  </div>
                </div>
                
                <div class="col mb-4" data-aos="zoom-in" data-aos-duration="1000">
                  <div class="card">
                    <img src="../img/mariaelena.jpg" class="card-img-top" alt="cafe3">
                    <div class="card-body">
                      <h5 class="card-title">Maria Elena PhD</h5> 
                      <p class="card-text">María Elena Buemi PhD   <a href="mailto:mebuemi A gmail.com"><ion-icon class="icono mail" name="mail-outline"></ion-icon></a></p>
                    </div>
                  </div>
                </div>
                <div class="col mb-4" data-aos="zoom-in" data-aos-duration="1000">
                  <div class="card">
                    <img src="../img/daniel.jpg" class="card-img-top" alt="croissant">
                    <div class="card-body">
                      <h5 class="card-title">Daniel Acevedo PhD</h5>
                      <p class="card-text">dacevedo A dc.uba.ar   <a href="mailto:dacevedo A dc.uba.com"><ion-icon class="icono mail" name="mail-outline"></ion-icon></a></p>
                    </div>
                  </div>
                </div>
            </div>
               
        </section>
        
        <section>
          <div class="row row-cols-1 row-cols-md-2">
              <div class="col mb-4" data-aos="zoom-in" data-aos-duration="1000">
                <div class="card">
                  <img src="../img/pachi.jpg" class="card-img-top" alt="macarrones">
                  <div class="card-body">
                    <h5 class="card-title">Francisco Gómez Fernández PhD</h5>
                    <p class="card-text">fgomez A dc.ub.ar   <a href="mailto:fgomez A dc.uba.com"><ion-icon class="icono mail" name="mail-outline"></ion-icon></a></p>
                  </div>
                </div>
              </div>
              
              <div class="col mb-4" data-aos="zoom-in" data-aos-duration="1000">
                <div class="card">
                  <img src="../img/PabloNegri.jpg" class="card-img-top" alt="pandulce">
                  <div class="card-body">
                    <h5 class="card-title">Pablo Negri PhD</h5>
                    <p class="card-text">pnegri A gmail.com   <a href="mailto:pnegri A gmail.com"><ion-icon class="icono mail" name="mail-outline"></ion-icon></a></p>
                  </div>
                </div>
              </div>
              
              <div class="col mb-4" data-aos="zoom-in" data-aos-duration="1000">
                <div class="card">
                  <img src="../img/rosana.jpg" class="card-img-top" alt="aromas">
                  <div class="card-body">
                    <h5 class="card-title">Rosana Matuk PhD</h5>
                    <p class="card-text">rosana.matuk A gmail.com   <a href="mailto:rosana.matuk A gmail.com"><ion-icon class="icono mail" name="mail-outline"></ion-icon></a></p>
                  </div>
                </div>
              </div>
              
              <div class="col mb-4" data-aos="zoom-in" data-aos-duration="1000">
                <div class="card">
                  <img src="../img/ismael.jpg" class="card-img-top" alt="cafe">
                  <div class="card-body">
                    <h5 class="card-title">Ing. Ismael Orozco</h5>
                    <p class="card-text">iorozco A exa.unsa.edu.ar   <a href="mailto:iorozco A exa.unsa.edu.ar "><ion-icon class="icono mail" name="mail-outline"></ion-icon></a></p>
                  </div>
                </div>
              </div>
            </div>
      </section>  
    </main>
    <div class="parallaxAmbar2"></div>
    
    <!-- <footer>
        <section class="row centrar">
            <div class="col-sm-3 col-md-2 col-lg-3" data-aos="zoom-in" data-aos-duration="1000">
                <ion-icon class="icono mail" name="mail-outline"></ion-icon> 
                <p>hello@dc.uba.ar</p>         
            </div>
            <div class="col-sm-3 col-md-2 col-lg-3" data-aos="zoom-in" data-aos-duration="1000">
                <ion-icon class="icono instagram" name="logo-instagram"></ion-icon>
                <p>@uba</p>            
            </div>
            <div class="col-sm-3 col-md-2 col-lg-3" data-aos="zoom-in" data-aos-duration="1000">
                <ion-icon class="icono facebook" name="logo-facebook"></ion-icon>
                <p>/uba</p>
            </div>
            <div class="col-sm-3 col-md-2 col-lg-3" data-aos="zoom-in" data-aos-duration="1000">
                <ion-icon class="icono whatsapp" name="logo-whatsapp"></ion-icon> 
                <p>11-8493-4520</p>           
            </div>
        </section>
        </section>
    </footer>
        -->
        <footer>
          <section>  
              <div class="centrar">
                  <p>Departamento de Computación - Facultad de Ciencias Exactas - UBA</p>
              </div>
          </section>
      </footer> 



    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/ionicons@5.1.2/dist/ionicons.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>AOS.init();</script>
</body>
</html>