<!DOCTYPE html>
<html lang="es">

<head>
     <meta charset="UTF-8">
    <title>GrupIVis</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keywords" content="cafe, bar, ambar">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" 
        rel="stylesheet">   
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../scss/estilado.css"> 
</head>

<body> 
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand homeMenu" href="../index.html">Inicio</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
              <div class="navbar-nav ml-auto menu">
                <a class="nav-link" href="ambar.html">Publicaciones</a>
                <a class="nav-link" href="galeria.html">Proyectos</a>
                <a class="nav-link" href="especialidades.html">Integrantes</a>
                <a class="nav-link" href="contactanos.html">Contacto</a>
              </div>
            </div>
        </nav>
        <h1 class= "animacion" data-aos="zoom-in" data-aos-duration="1000">Proyectos</h1>
    </header>
    <!-- <div class="parallaxAmbar"></div>  -->
    <main class="contenedor">
        <section>
             <div class="hojaSeparadora">
                <ion-icon name="aperture-outline"></ion-icon>
            </div>
            <div class="historia">
                <h2 class="lista">Proyectos Actuales</h2>
                <ul>
                    <li data-aos="zoom-in" data-aos-duration="1000">2018-2021 Proyecto UBACyT Programación Científica 2018 <i><strong>"Análisis Automático de la Dinámica Facial y Corporal" </strong></i> (224) Director: Daniel Acevedo.
                    </li> 
                
                    <li data-aos="zoom-in" data-aos-duration="1000">2018-2021 Proyecto CYTED P517RT0176 <i><strong>"Red temática Iberoamericana sobre aplicaciones TICs para Ciudades Inteligentes”</strong></i>  Países integrantes: Ecuador, Brasil, España, Portugal, Chile y Argentina. Investigador Responsable por la parte argentina: Marta Mejail
                    </li> 

                    <li data-aos="zoom-in" data-aos-duration="1000">2018-2021 Proyecto UBACyT Programación Científica 2018 <i><strong>"Extracción de características para el reconocimiento de tipos de melanoma y otras lesiones de piel, mediante procesamiento digital de imágenes."</strong></i> (311) Directora: Marta Mejail
                    </li> 

                    <li data-aos="zoom-in" data-aos-duration="1000">2017-2020 Proyecto PICT 2015-3174. <i><strong>"Procesamiento de imágenes y visión por computadora.Aplicaciones en análisis de escenas, mapas de ambiente, modelos 3D y análisis de imágenes SAR."</strong></i>  Directora: Marta Mejail
                    </li> 
                </ul>
            </div>

            <div class="historia">
                <h2 class="lista">Proyectos Anteriores</h2>
                <ul>
                    <li data-aos="zoom-in" data-aos-duration="1000">UBACyT Project, Science Program 2011-2014 <i><strong>"Algorithms and Models in Digital Image Processing, Vision, Learning and Pattern Recognition"</strong></i> (224) Director: Marta Mejail, 2011-2014</li>
                
                    <li data-aos="zoom-in" data-aos-duration="1000">Regional Program STIC-AmSud 2010 Project Proposal (Research – Innovation) 11STIC-01 <i><strong>"Mathematical models for visual perception and subpixel computer vision(MMVPSCV)"</strong></i>, International Coordinator: Andrés Almansa, Télécom Paris-Tech, Project Coordinators: Marta Mejail, Argentina; Pablo Musé, Uruguay; Alvaro Pardo, Uruguay; Jean-Michel Morel, France. 2011-2012.</li>
                    
                    <li data-aos="zoom-in" data-aos-duration="1000">LACCIR RFP Latin American and Caribbean Collaborative ICT Research 2009 <i><strong>"GPGPU Accelerated Image Processing and Visualization: Applications in Environmental Sciences and Healthcare. (Earth, Environment & Climate Change)"</strong></i>Marta Mejail from Universidad de Buenos Aires, Argentina; Álvaro Pardo from Universidad Católica del Uruguay and Claudio Delrieux from Universidad Nacional del Sur, Argentina. 2010.</li>
                
                    <li data-aos="zoom-in" data-aos-duration="1000">Proyectos de Investigación Científica y Tecnológica PICT-2008-1926<i><strong>"Image and Video Analysis and Segmentation. Application to Synthetic Aperture Radar images, Tracking in Video Surveilliance, Shape Matching in Image Database and Robotic Vision."</strong></i>2010-2012</li>
                


                    <li data-aos="zoom-in" data-aos-duration="1000">UBACyT Project, Science Program 2008-2010 <i><strong>"Image Analyis and Segmentation. Application to Synthetic Aperture Radar images, Solar Coronagraphy and Computer Vision" </strong></i>(X142) Director: Marta Mejail, 2008-2010</li>
                
                    <li data-aos="zoom-in" data-aos-duration="1000">Research Project in Science and Technology PICT-2006-02217 <i><strong>"Image Analyis and Segmentation. Application to Synthetic Aperture Radar and Solar Coronagraphy Images" </strong></i>Director: Marta Mejail, 2008-2010> UBACyT</li>
                
                    <li data-aos="zoom-in" data-aos-duration="1000">Project, Science Program 2008-2010 <i><strong>"Generation and Development of Algorithms for the Simulation of Applications based on Synthetic Aperture Radar"</strong></i>(X105) Director: Julio Jacobo-Berlles, 2008-2010</li>
                    
                    <li data-aos="zoom-in" data-aos-duration="1000">Alfa Project(II-0366-FA) <i><strong>"Computer Vision Foundations and Applications"</strong></i> . École Normale Supérieure de Cachan, France, institución Universidad de la República, Universidad Pompeu Fabra, España, Universidad de Canarias, España, Università di Bologna, Italia, Universidad de Chile, Chile and Universidad de Buenos Aires, Argentina.</li>
                    


                    <li data-aos="zoom-in" data-aos-duration="1000">UBACyT Project, Science Program 2004-2007, <i><strong>"Image Analyis and Segmentation. Robot Vision. Object Trancking. Application to biomedical and SAR images."</strong></i> (X323).</li>
                
                    <li data-aos="zoom-in" data-aos-duration="1000">Bilateral Cooperation Project <i><strong>"Robust Techniques for Image Segmentation."</strong></i>, (CU/PA03-EXI/024).Instituto de Cibernética, Matemática y Física ICIMAF, La Habana, Cuba and Universidad de Buenos Aires, Argentina</li>
                
                    <li data-aos="zoom-in" data-aos-duration="1000">Vitae-Andes-Antorchas Project: Brasil, Chile and Argentina: <i><strong>"Filtragem Interagente de Imagens"</strong></i>, 2000-2001.</li>
                    
                    <li data-aos="zoom-in" data-aos-duration="1000">Cooperation Project <i><strong>"User-Friendly Statistical Tools for Information Retrieval in SAR Imagery (USeFIRSt)"</strong></i>, (INF.3/98/OG). Institut für Hochfrequenztechnik / Abteilung Mikrowellensysteme del DLR (Deutsches Zentrum für Luft- und Raumfahrt). Scientific and technological Cooperation Program Argentine-Germany (SeCyT - BMBF). Director : Julio C. Jacobo, 1998-2002.</li>
                </ul>
            </div>


            <div class="hojaSeparadora hola">
                <ion-icon name="aperture-outline"></ion-icon>
            </div>   
        </section>
    </main>
    <div class="parallaxPublicaciones"></div>
    <!-- <footer>
        <section class="row centrar">
            <div class="col-sm-3 col-md-2 col-lg-3" data-aos="zoom-in" data-aos-duration="1000">
                <ion-icon class="icono mail" name="mail-outline"></ion-icon> 
                <p>hello@dc.uba.ar</p>         
            </div>
            <div class="col-sm-3 col-md-2 col-lg-3" data-aos="zoom-in" data-aos-duration="1000">
                <ion-icon class="icono instagram" name="logo-instagram"></ion-icon>
                <p>@uba</p>            
            </div>
            <div class="col-sm-3 col-md-2 col-lg-3" data-aos="zoom-in" data-aos-duration="1000">
                <ion-icon class="icono facebook" name="logo-facebook"></ion-icon>
                <p>/uba</p>
            </div>
            <div class="col-sm-3 col-md-2 col-lg-3" data-aos="zoom-in" data-aos-duration="1000">
                <ion-icon class="icono whatsapp" name="logo-whatsapp"></ion-icon> 
                <p>11-8493-4520</p>           
            </div>
        </section>
        </section>
    </footer>
        -->
        <footer>
            <section>  
                <div class="centrar">
                    <p>Departamento de Computación - Facultad de Ciencias Exactas - UBA</p>
                </div>
            </section>
        </footer> 

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/ionicons@5.1.2/dist/ionicons.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>AOS.init();</script>
</body>
</html>